body {
    padding: 2%;
    margin: 0;
    background: url('../images/wood.jpg');
}
.max {
    max-width: 1270px;
}
header {
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    
}
.logo {
    width: 100%;
    max-width: 350px;
    margin-bottom: 3%;
}
.push-right {
    margin: 0 0 0 auto !important;
}
.cursor {
    cursor: pointer;
}
.btn-right {
    margin: 0 0 0 auto;
}
.padding {
    padding-top: 3%;
}   
.shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 4px;
}
#word {
    letter-spacing: 14px;
    font-size: 2rem;
    color: green;
    text-align: center;
}
.my-pantry {
    background: url('../images/diamonds.png');
}
#pantry-items {
    columns: 4;
}
#pantry-items li {
    list-style-type: none;
}
.ingredients {
    border: 1px solid lightgrey;
    padding: .5rem;    
    margin: 0 .5% 1%.5%;
    display: block;
    width: 24% !important;
}
.ingredients:hover {
    border-radius: 4px;
    background: lightblue;
    cursor: pointer;

}
.absolute-me {
    position: relative;
}
.position-me {
    position: relative;
}
@media all and (max-width: 575px) and (min-width: 0px) {

    .position-me {
        position: absolute;
        right: .35rem;
        top: 0;
    }
    .bg-light {
        background: none !important;
}
.shadow {
    border: none;
    box-shadow: none;
}
.logo {
    width: 34%;
    max-width: 350px;
    margin-bottom: 3%;
}
header {
    background: darkgray;
    margin-bottom: 1rem;
    border-radius: 5px;
}
}
